<template>
  <b-container fluid>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="{ name: 'home'}">Home</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
    <b-row>
      <b-col>
        <div class="text-center pt-5" v-if="isFetchingUser">Loading...</div>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-8">
        <b-form @submit.prevent.stop="onSubmit" v-if="!isFetchingUser">
          <fieldset :disabled="isUpdatingUser">
            <b-form-group label="Email">
              <b-form-input type="email" readonly plaintext :value="form.email"></b-form-input>
            </b-form-group>
            <b-form-group label="Name">
              <b-form-input type="text"
                            v-model="form.name"
                            :state="!!nameError ? false : null">

              </b-form-input>
              <b-form-invalid-feedback>{{nameError}}</b-form-invalid-feedback>
            </b-form-group>
            <b-button type="submit" variant="primary">
              {{isUpdatingUser ? 'Saving...' : 'Save'}}
            </b-button>
          </fieldset>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import {mapActions, mapState} from 'vuex'

  export default {
    mounted() {
      this.load();
    },
    data() {
      return {
        form: {
          email: '',
          name: ''
        },
        user: {},
        nameError: null
      }
    },
    computed: {
      ...mapState('usersApi', [
        'currentUser',
        'isFetchingUser',
        'isUpdatingUser'
      ])
    },
    methods: {
      ...mapActions('usersApi', [
        'loadUser',
        "updateUser"
      ]),
      load() {
        this.loadUser().then(() => {
          this.user = this.currentUser
          this.form.email = this.currentUser.email
          this.form.name = this.currentUser.name
        }).catch((error) => {

        }).bind(this)
      },
      onSubmit() {
        this.nameError = null
        this.updateUser(this.form).catch((error) => {
          const errors = error.body.errors
          if (errors) {
            this.nameError = (errors['name'] || {})['msg']
          }

        })
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
