<template>
  <div>
    <div :class="!!error ? 'shadow' : 'hidden'"></div>
    <b-alert v-if="!!error" class="alert" show variant="danger">
      {{error}}
      <a href="/" :class="showReload ? '' : 'hidden'">Reload</a>
    </b-alert>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'

export default {
  data() {
    return {
      error: null,
      showReload: false
    }
  },
  computed: {
    ...mapState([
      'apiError'
    ])
  },
  methods: {
    ...mapActions([
      'resetState'
    ]),
    ...mapActions('authApi', [
      'logout'
    ]),
  },
  watch: {
    apiError(new_value) {
      this.error = null
      this.showReload = false
      if (new_value) {
        if (new_value.status === 0) {
          this.error = 'Error: Connection to server failed. Please check your internet connection.'
          this.showReload = true
        } else if (new_value.status === 403) {
          this.logout().then(() => {
            this.resetState()
            this.$router.push({name: 'signIn'})
          })
        } else if (new_value.status !== 422 && new_value.status !== 404) {
          this.error = 'Unknown error'
        }
      }
    }
  }
}
</script>

<style scoped>
  .alert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 999999;
  }

  .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.45);
    z-index: 99999;
  }

  .hidden {
    display: none;
  }
</style>
