<template>
  <b-navbar toggleable="md" type="dark" variant="dark" class="main-navbar">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand :to="{name: 'home'}">Smart Home</b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav class="mr-auto">
        <b-nav-item :to="{name: 'home'}" exact>Home</b-nav-item>
        <b-nav-item :to="{name: 'groups'}">Groups</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav>
        <b-nav-item v-if="!isAuthenticated" :to="{name: 'signIn'}">Sign In</b-nav-item>
        <b-nav-item v-if="isAuthenticated" :to="{name: 'profile'}">{{ (currentUser || {}).name }}</b-nav-item>
        <b-nav-item v-if="isAuthenticated" v-on:click="signOut">Sign Out</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import {mapGetters, mapActions, mapState} from 'vuex'

export default {
  data() {
    return {username: ''}
  },
  created() {
    if (this.isAuthenticated) {
      this.loadUser()
    }
  },
  computed: {
    ...mapState('usersApi', [
      'currentUser'
    ]),
    ...mapGetters('authApi', [
      'isAuthenticated'
    ])
  },
  watch: {
    isAuthenticated(val) {
      if (val) {
        this.loadUser()
      }
    }
  },
  methods: {
    ...mapActions('authApi', [
      'logout'
    ]),
    ...mapActions('usersApi', [
      'loadUser'
    ]),
    ...mapActions([
      'resetState'
    ]),
    signOut: function f() {
      this.logout().then(() => {
        this.resetState()
        this.$router.push({name: 'signIn'})
      })
    }
  }
}
</script>

<style scoped>
  .main-navbar {
    margin-bottom: 1em;
  }
</style>
