<template>
  <b-container fluid>
    <b-row>
      <b-col cols="12" xl="4" offset-xl="4">
        <h1>Oops!</h1>
        <br/>
        <h4>We can't seem to find the page you're looking for.</h4>
        <br/>
        <p>Error code: 404</p>

      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
