<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <h1>Welcome to Your 'Smart Home' App</h1>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
