<template>
  <b-container fluid>
    <b-row>
      <b-col offset-md="3" md="6">
        <h1>{{title}}</h1>
        <b-form @submit.prevent.stop="submitForm">
          <fieldset :disabled="inProgress">
          <b-form-group label="Username*">
            <b-form-input type="email" :state="!!usernameError ? false : null" v-model="form.username"></b-form-input>
            <b-form-invalid-feedback v-if="!!usernameError">{{usernameError}}</b-form-invalid-feedback>
          </b-form-group>
          <b-form-group label="Password*">
            <b-form-input type="password" :state="!!passwordError ? false : null" v-model="form.password"></b-form-input>
            <b-form-invalid-feedback v-if="!!passwordError">{{passwordError}}</b-form-invalid-feedback>
          </b-form-group>
          <b-button variant="primary" type="submit" block size='lg'>{{button}}</b-button>
          </fieldset>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  data() {
    return {
      title: 'Sign In',
      button: 'Sign In',
      form: {
        username: null,
        password: null,
      },
      usernameError: null,
      passwordError: null,
      inProgress: false
    }
  },
  computed: {
    ...mapGetters('authApi', [
      'isAuthenticated',
      'authStatus'
    ]),
  },
  methods: {
    ...mapActions('authApi', [
      'authenticate'
    ]),
    submitForm: function () {
      this.inProgress = true
      this.button = 'Sign In ...'
      const router = this.$router
      this.usernameError = this.passwordError = null
      this.authenticate(this.form).then(() => {
        this.inProgress = false
        this.button = 'Sign In'
        router.push({name: localStorage.getItem('next_url') || 'home'})
        localStorage.removeItem('next_url')
      }).catch((error) => {
        this.form.password = null
        this.inProgress = false
        this.button = 'Sign In'
        const errors = error.body.errors
        this.usernameError = (errors['username'] || {})['msg']
        this.passwordError = (errors['password'] || {})['msg']
      })
    }
  }

}
</script>

<style scoped>
  h1 {
    text-align: center;
  }
</style>
