<template>
  <div>
    <NavBar/>
    <div id="app">
      <APIError/>
      <router-view/>
    </div>
  </div>
</template>

<script>
import NavBar from './components/shared/NavBar'
import APIError from './components/shared/APIError'
import store from './store/index'


export default {
  name: 'App',
  store,
  components: {
    NavBar,
    APIError
  }
}
</script>

<style lang="sass">
  //noinspection CssUnknownTarget
  @import 'bootstrap/dist/css/bootstrap.css'
  //noinspection CssUnknownTarget
  @import 'bootstrap-vue/dist/bootstrap-vue.css'
  @import "./assets/applications.scss"

</style>
