<template>
  <b-container fluid>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="{ name: 'home'}">Home</router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Groups</li>
      </ol>
    </nav>
    <b-row>
      <b-col>
        <b-form inline @submit.prevent.stop="onSubmit">
          <b-input class="col-7 col-lg-2 col-md-4 col-sm-6 mr-2"
                   placeholder="Group name" v-model="form.name"
                   :state="!!nameError ? false : null"
                   :disabled="isLoading()">
          </b-input>
          <b-button variant="primary" @click="onSubmit" :disabled="isLoading()">Add Group</b-button>
          <b-form-invalid-feedback>{{nameError}}</b-form-invalid-feedback>
        </b-form>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="text-center pt-5" v-if="isLoading()">Loading...</div>
        <b-table v-if="!isLoading()" responsive hover caption-top fixed
                 :items="listGroups"
                 :fields="columns">
          <template slot="table-caption">
            List of your groups
          </template>
          <template slot="name" slot-scope="data">
            <router-link :to="{ name: 'group', params: {id: data.item._id}}">{{data.item.name}}</router-link>
          </template>
          <template slot="createdBy" slot-scope="data">
            {{data.item.createdBy.name}}
          </template>
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'

  export default {
    mounted() {
      this.loadGroups()
    },
    data() {
      return {
        columns: [
          'name',
          'createdBy'
        ],
        form: {
          name: ''
        },
        nameError: null,
        ...mapGetters('groupsApi', [
          'listGroups',
          'isLoading'
        ])
      }
    },
    methods: {
      onSubmit() {
        this.nameError = null
        this.createGroup(this.form).then(() => {
          this.form.name = ''
        }).catch((error) => {
          const errors = error.body.errors
          if (errors) {
            this.nameError = (errors['name'] || {})['msg']
          }
        })
      },
      ...mapActions('groupsApi', [
        'loadGroups',
        'createGroup'
      ])
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
