<template>
  <b-container fluid>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <router-link :to="{ name: 'home'}">Home</router-link>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <router-link :to="{ name: 'groups'}">Groups</router-link>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Group '{{group.name}}'</li>
    </ol>
    <b-row>
      <b-col>
        <div class="text-center pt-5" v-if="isFetchingGroup">Loading...</div>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="4">
        <b-form @submit.prevent.stop="onSubmit" v-if="!isFetchingGroup">
          <fieldset :disabled="isUpdatingGroup || isDestroyingGroup">
            <b-form-group id="groupName"
                          label="Name:"
                          label-for="nameInput">
              <b-form-input id="nameInput"
                            type="text"
                            v-model="form.name"
                            placeholder="Enter group name"
                            :state="!!nameError ? false : null">
              </b-form-input>
              <b-form-invalid-feedback>{{nameError}}</b-form-invalid-feedback>
            </b-form-group>
            <b-button type="submit" variant="primary">
              {{isUpdatingGroup ? 'Saving...' : 'Save'}}
            </b-button>
            <b-button type="button" variant="danger"
                      v-b-modal.deleteConfirmation>
              Delete
            </b-button>
          </fieldset>
        </b-form>
      </b-col>
    </b-row>
    <b-modal id="deleteConfirmation"
             @ok="onDelete"
             ok-title="Delete"
             ok-variant="danger"
             title="Are you sure?">
      Are you sure you want to delete group '{{group.name}}'?
    </b-modal>
  </b-container>
</template>

<script>
  import {mapActions, mapState, mapGetters} from 'vuex'

  export default {
    mounted() {
      this.load()
    },
    data() {
      return {
        group: {},
        form: {
          name: ''
        },
        nameError: null
      }
    },

    computed: {
      ...mapGetters('groupsApi', [
        'groupById',
      ]),
      ...mapState('groupsApi', [
        'isFetchingGroup',
        'isUpdatingGroup',
        'isDestroyingGroup'
      ]),
    },
    methods: {
      load() {
        this.group = this.groupById(this.$route.params['id']) || {}
        this.form.name = this.group.name
        this.loadGroup(this.$route.params['id']).then(() => {
          this.group = this.groupById(this.$route.params['id']) || {}
          this.form.name = this.group.name
        }).catch((error) => {
          if (error.status === 404) {
            this.$router.replace({name: 'groups'})
          }
        })
      },
      onSubmit() {
        this.nameError = null
        this.updateGroup({id: this.group._id, group: this.form}).then(() => {
          this.group = this.groupById(this.$route.params['id']) || {}
          this.form.name = this.group.name
        }).catch((error) => {
          if (error.status === 404) {
            this.$router.replace({name: 'groups'})
          } else {
            const errors = error.body.errors
            if (errors) {
              this.nameError = (errors['name'] || {})['msg']
            }
          }
        })
      },
      onDelete() {
        this.deleteGroup(this.group._id).then(() => {
          this.$router.replace({name: 'groups'})
        }).catch((error) => {
          if (error.status === 404) {
            this.$router.replace({name: 'groups'})
          }
        })
      },
      ...mapActions('groupsApi', [
        'loadGroup',
        'updateGroup',
        'deleteGroup'
      ])
    }
  }
</script>


<style scoped>

</style>
